div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,b,u,i,center,table,tr,th,td,video {
    margin: 10;
    padding: 0;
    border: 0
}

.ContainerWidget{
    width: 400px;
    height: 670px;
    background-color:  rgb(236, 233, 233);
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.HeaderWiget{
    width: 300px;
    height: 170px;
    display: flex;
}


.BoxWrite{
    width: 400px;
    height: 370px;
    background-color: white;
    overflow-y: auto; /* Включает вертикальный скролл */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Сообщения будут выравниваться снизу */
}




.HeaderWiget{
    display: flex;
     /* Центрируем все элементы по вертикали */
    
}

.OperatorWindow{
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
  /* Отступ между картинкой и текстом */
  
    margin-left: 20px;
    margin-top: 0px;
    
}


.image {
    width: 90px;
    height: 90px;
    object-fit: cover; /* Подгоняет изображение без искажений */
    border-radius: 100px;
    margin-top: 60px;

    display: block;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.Onlain{
     display: flex; /* Выставляем элементы в одну строку */
    align-items: center;
    
}
.TextName{
    color: rgb(0, 0, 0);
    margin-left: 3px;
    font-size: 14px;
    margin:10px;
    

}
.Sphere{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 0);
    border-radius: 100px;
   
}

.Name{
    margin-top: 70px;
    margin-left: 20px;
    
}

.Cancel{
    display: flex;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 170px;
}


.Footer{
    display: flex; 
    align-items: center; 
    gap: 10px; 
   margin-top: 50px;     /* Вертикальное выравнивание по центру */
    justify-content: center; 
}

.AddText{
    width: 280px;
    height: 30px;
    background-color: white;
}
.textInput {
     /* Легкая рамка вокруг поля */
    padding: 5px 10px;       /* Отступы внутри поля */
    font-size: 16px;         /* Размер шрифта */
       /* Сглаживание углов */
    width: 260px;            /* Ширина поля ввода */
    border: none;            /* Убираем рамку */
    outline: none;
}

.textInput::placeholder {
    font-style: italic;      /* Курсивный стиль для подсказки */
}
.svgAdd{
    height: 30px;
    width: 30px;
}
